<section class="signup__form" *ngIf="!isLoading">


  <form fxLayout="column" fxLayoutAlign="center center" #signupForm="ngForm" fxLayoutGap="10px"
    (ngSubmit)="onSubmit(signupForm)">

    <h1 fxLayoutAlign="center center">
      <mat-icon>person_add</mat-icon> Register
    </h1>

    <mat-form-field>
      <input type="username" matInput placeholder="Username" ngModel name="username" required #uInput="ngModel">
      <mat-error *ngIf="uInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
        #pInput="ngModel">
      <mat-error>Password should be longer than 6 characters!</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="signupForm.invalid" color="primary">Submit</button>
  </form>
</section>

<div fxFlex *ngIf="isLoading" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
