<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Link transformation">
    <div fxLayoutAlign="center center" fxLayoutGap="40px">
      <form fxLayout="column" fxFlex="30%" fxLayoutGap="30px" #transForm="ngForm" (ngSubmit)="onTransform(transForm)">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Transform your link</mat-label>
          <input matInput [(ngModel)]="linkStr" type="url" name="longLink" placeholder="https://example.com"
            pattern="https://.*" required>
          <button *ngIf="linkStr" matSuffix mat-icon-button aria-label="Clear" (click)="linkStr=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>It should be a link!</mat-error>
          <mat-hint>The link should start with https://</mat-hint>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary"
          [disabled]="!transForm.valid && linkStr">Transform</button>
      </form>

      <form fxLayout="column" fxFlex="30%" fxLayoutGap="30px">
        <mat-form-field appearance="fill">
          <mat-label for="clipboard-example-textarea">{{newLink ? 'Copy your short version' :'The transformed version is going to appear in here' }}</mat-label>
          <input matInput type="text" [(ngModel)]="newLink" name="longLink" [disabled]="!newLink">
          <button color="primary" matSuffix mat-icon-button aria-label="copy" >
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button type="submit" color="warn" [disabled]="!newLink" (click)="onClear()">Clear the form</button>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Statistics">
    <app-statistics></app-statistics>
  </mat-tab>

</mat-tab-group>
